cache/**/**/*.7z
cache/**/**/*.arrow
cache/**/**/*.bin
cache/**/**/*.bin.*
cache/**/**/*.bz2
cache/**/**/*.ftz
cache/**/**/*.gz
cache/**/**/*.h5
cache/**/**/*.joblib
cache/**/**/*.lfs.*
cache/**/**/*.model
cache/**/**/*.msgpack
cache/**/**/*.onnx
cache/**/**/*.ot
cache/**/**/*.parquet
cache/**/**/*.pb
cache/**/**/*.pt
cache/**/**/*.pth
cache/**/**/*.rar
cache/**/**/saved_model/**/*
cache/**/**/*.tar.*
cache/**/**/*.tflite
cache/**/**/*.tgz
cache/**/**/*.xz
cache/**/**/*.zip
cache/**/**/*.zstandard
cache/**/**/*tfevents*
